<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Your app title -->
  <title>My App</title>
  <!-- Path to Framework7 iOS CSS theme styles-->
  <link rel="stylesheet" href="../../bower_components/Framework7/dist/css/framework7.ios.min.css">
  <!-- Path to Framework7 iOS related color styles -->
  <link rel="stylesheet" href="../../bower_components/Framework7/dist/css/framework7.ios.colors.min.css">
  <!-- Path to your custom app styles-->
  <!--<link rel="stylesheet" href="/stylesheets/my-app.css">-->
  <!-- Path to Framework7 Library JS-->
  <!-- knockout -->
  <script type="text/javascript" src="../../javascripts/plugins/knockout/knockout-3.3.0.js"></script>

</head>
<body>
<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <p>Left panel content goes here</p>
  </div>
</div>
<!-- Views -->
<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">OOCL Shuttle Bus</div>
        <div class="right">
          <!--
            Right link contains only icon - additional "icon-only" class
            Additional "open-panel" class tells app to open panel when we click on this link
          -->
          <a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
        </div>
      </div>
    </div>
    <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
    <div class="pages navbar-through toolbar-through">
      <!-- Page, "data-page" contains page name -->
      <div data-page="index" class="page">
        <!-- Scrollable page content -->
        <div class="page-content pull-to-refresh-content">
          <p>This is Shuttle Bus page!</p>
          <div class="content-block-title" data-bind="text: typeName">上班路线</div>
          <div class="list-block accordion-list">
            <ul>
              <li class="accordion-item" data-bind="foreach: {data: routeInfo, as: 'routeInfo'}">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title" data-bind="text: routeInfo.route">一号线</div>
                  </div></a>
                <div class="accordion-item-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content" data-bind="foreach: {data: details, as: 'item'}">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title" data-bind="text: station">前山</div>
                          <div class="item-after" data-bind="text: time">17:00</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

            </ul>
          </div>

          <div class="content-block-title">下班路线</div>
          <div class="list-block accordion-list">
            <ul>
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">一号线</div>
                  </div></a>
                <div class="accordion-item-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">拱北</div>
                          <div class="item-after">17:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">香洲</div>
                          <div class="item-after">18:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">唐家</div>
                          <div class="item-after">19:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">南软</div>
                          <div class="item-after">20:00</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">二号线</div>
                  </div></a>
                <div class="accordion-item-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">拱北</div>
                          <div class="item-after">17:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">香洲</div>
                          <div class="item-after">18:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">唐家</div>
                          <div class="item-after">19:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">南软</div>
                          <div class="item-after">20:00</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">三号线</div>
                  </div></a>
                <div class="accordion-item-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">拱北</div>
                          <div class="item-after">17:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">香洲</div>
                          <div class="item-after">18:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">唐家</div>
                          <div class="item-after">19:00</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">南软</div>
                          <div class="item-after">20:00</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>




          <!-- Link to another page -->
          <a href="about.html">About app</a>
        </div>
      </div>
    </div>
    <!-- Bottom Toolbar-->
    <div class="toolbar">
      <div class="toolbar-inner">
        <!-- Toolbar links -->
        <a href="#" class="link">Link 1</a>
        <a href="#" class="link">Link 2</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../../bower_components/Framework7/dist/js/framework7.min.js"></script>
<!-- Path to your app js-->
<script type="text/javascript" src="../../javascripts/my-app.js"></script>
</body>
</html>   